In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import joblib

import warnings
warnings.filterwarnings('ignore')

In [44]:
df = pd.read_csv('loan_train.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [45]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [47]:
df.isnull().sum() * 100 / len(df)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [48]:
missing_val = df.isnull()
missing_val_per = ["Gender", "Married", "Dependents", "Dependents", "LoanAmount", "Loan_Amount_Term"]

In [49]:
df = df.dropna(subset = missing_val_per)

In [50]:
df.isnull().sum() * 100 / len(df)

Loan_ID              0.000000
Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [51]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [52]:
for column in df.columns:
    print(f"Column: {column}")
    print(df[column])
    print("\n")

Column: Loan_ID
1      LP001003
2      LP001005
3      LP001006
4      LP001008
5      LP001011
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 553, dtype: object


Column: Gender
1        Male
2        Male
3        Male
4        Male
5        Male
        ...
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 553, dtype: object


Column: Married
1      Yes
2      Yes
3      Yes
4       No
5      Yes
      ...
609     No
610    Yes
611    Yes
612    Yes
613     No
Name: Married, Length: 553, dtype: object


Column: Dependents
1       1
2       0
3       0
4       0
5       2
       ..
609     0
610    3+
611     1
612     2
613     0
Name: Dependents, Length: 553, dtype: object


Column: Education
1          Graduate
2          Graduate
3      Not Graduate
4          Graduate
5          Graduate
           ...
609        Graduate
610        Graduate
611        Graduate
612        Graduate
613        Graduate
Name: Education, Length: 553, dtype: object


Column: Self_Employed
1       No
2      Yes
3       No
4       No
5      Yes
      ...
609     No
610     No
611     No
612     No
613    Yes
Name: Self_Employed, Length: 553, dtype: object


Column: ApplicantIncome
1      4583
2      3000
3      2583
4      6000
5      5417
       ...
609    2900
610    4106
611    8072
612    7583
613    4583
Name: ApplicantIncome, Length: 553, dtype: int64


Column: CoapplicantIncome
1      1508.0
2         0.0
3      2358.0
4         0.0
5      4196.0
        ...
609       0.0
610       0.0
611     240.0
612       0.0
613       0.0
Name: CoapplicantIncome, Length: 553, dtype: float64


Column: LoanAmount
1      128.0
2       66.0
3      120.0
4      141.0
5      267.0
       ...
609     71.0
610     40.0
611    253.0
612    187.0
613    133.0
Name: LoanAmount, Length: 553, dtype: float64


Column: Loan_Amount_Term
1      360.0
2      360.0
3      360.0
4      360.0
5      360.0
       ...
609    360.0
610    180.0
611    360.0
612    360.0
613    360.0
Name: Loan_Amount_Term, Length: 553, dtype: float64


Column: Credit_History
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
      ...
609    1.0
610    1.0
611    1.0
612    1.0
613    0.0
Name: Credit_History, Length: 553, dtype: float64


Column: Property_Area
1          Rural
2          Urban
3          Urban
4          Urban
5          Urban
         ...
609        Rural
610        Rural
611        Urban
612        Urban
613    Semiurban
Name: Property_Area, Length: 553, dtype: object


Column: Loan_Status
1      N
2      Y
3      Y
4      Y
5      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 553, dtype: object

In [53]:
for column in df.columns:
    print(f"Column: {column}")
    print(df[column].unique())
    print("\n")

Column: Loan_ID
['LP001003' 'LP001005' 'LP001006' 'LP001008' 'LP001011' 'LP001013'
 'LP001014' 'LP001018' 'LP001020' 'LP001024' 'LP001027' 'LP001028'
 'LP001029' 'LP001030' 'LP001032' 'LP001034' 'LP001036' 'LP001038'
 'LP001043' 'LP001046' 'LP001047' 'LP001052' 'LP001066' 'LP001068'
 'LP001073' 'LP001086' 'LP001087' 'LP001091' 'LP001095' 'LP001097'
 'LP001098' 'LP001100' 'LP001112' 'LP001114' 'LP001116' 'LP001119'
 'LP001120' 'LP001123' 'LP001131' 'LP001138' 'LP001144' 'LP001146'
 'LP001151' 'LP001155' 'LP001157' 'LP001164' 'LP001179' 'LP001186'
 'LP001194' 'LP001195' 'LP001197' 'LP001198' 'LP001199' 'LP001205'
 'LP001206' 'LP001207' 'LP001222' 'LP001225' 'LP001228' 'LP001233'
 'LP001238' 'LP001241' 'LP001243' 'LP001245' 'LP001248' 'LP001253'
 'LP001255' 'LP001256' 'LP001259' 'LP001263' 'LP001264' 'LP001265'
 'LP001267' 'LP001273' 'LP001275' 'LP001279' 'LP001280' 'LP001282'
 'LP001289' 'LP001310' 'LP001316' 'LP001318' 'LP001319' 'LP001322'
 'LP001325' 'LP001327' 'LP001333' 'LP001334' 'LP001343' 'LP001345'
 'LP001349' 'LP001367' 'LP001369' 'LP001370' 'LP001379' 'LP001384'
 'LP001385' 'LP001387' 'LP001398' 'LP001401' 'LP001404' 'LP001405'
 'LP001421' 'LP001422' 'LP001430' 'LP001431' 'LP001432' 'LP001439'
 'LP001443' 'LP001451' 'LP001465' 'LP001469' 'LP001473' 'LP001478'
 'LP001482' 'LP001487' 'LP001488' 'LP001489' 'LP001491' 'LP001492'
 'LP001493' 'LP001497' 'LP001498' 'LP001504' 'LP001507' 'LP001508'
 'LP001514' 'LP001516' 'LP001518' 'LP001519' 'LP001520' 'LP001528'
 'LP001529' 'LP001531' 'LP001532' 'LP001535' 'LP001536' 'LP001541'
 'LP001543' 'LP001546' 'LP001552' 'LP001560' 'LP001562' 'LP001565'
 'LP001570' 'LP001572' 'LP001577' 'LP001578' 'LP001579' 'LP001580'
 'LP001581' 'LP001586' 'LP001594' 'LP001603' 'LP001606' 'LP001608'
 'LP001610' 'LP001616' 'LP001630' 'LP001633' 'LP001634' 'LP001636'
 'LP001637' 'LP001639' 'LP001640' 'LP001641' 'LP001643' 'LP001647'
 'LP001653' 'LP001656' 'LP001657' 'LP001658' 'LP001664' 'LP001665'
 'LP001666' 'LP001671' 'LP001673' 'LP001674' 'LP001677' 'LP001688'
 'LP001691' 'LP001692' 'LP001693' 'LP001698' 'LP001699' 'LP001702'
 'LP001708' 'LP001711' 'LP001713' 'LP001715' 'LP001716' 'LP001720'
 'LP001722' 'LP001726' 'LP001732' 'LP001734' 'LP001736' 'LP001743'
 'LP001744' 'LP001750' 'LP001751' 'LP001758' 'LP001761' 'LP001765'
 'LP001768' 'LP001776' 'LP001778' 'LP001784' 'LP001786' 'LP001788'
 'LP001790' 'LP001792' 'LP001798' 'LP001800' 'LP001806' 'LP001807'
 'LP001811' 'LP001813' 'LP001814' 'LP001819' 'LP001824' 'LP001825'
 'LP001835' 'LP001836' 'LP001841' 'LP001843' 'LP001844' 'LP001846'
 'LP001849' 'LP001854' 'LP001859' 'LP001864' 'LP001865' 'LP001868'
 'LP001870' 'LP001871' 'LP001872' 'LP001875' 'LP001877' 'LP001882'
 'LP001883' 'LP001884' 'LP001888' 'LP001891' 'LP001892' 'LP001894'
 'LP001896' 'LP001900' 'LP001903' 'LP001904' 'LP001907' 'LP001908'
 'LP001910' 'LP001914' 'LP001915' 'LP001917' 'LP001924' 'LP001925'
 'LP001926' 'LP001931' 'LP001935' 'LP001936' 'LP001938' 'LP001940'
 'LP001947' 'LP001949' 'LP001953' 'LP001954' 'LP001955' 'LP001963'
 'LP001964' 'LP001974' 'LP001977' 'LP001978' 'LP001993' 'LP001994'
 'LP001996' 'LP001998' 'LP002002' 'LP002004' 'LP002006' 'LP002008'
 'LP002031' 'LP002035' 'LP002036' 'LP002043' 'LP002050' 'LP002051'
 'LP002053' 'LP002055' 'LP002065' 'LP002067' 'LP002068' 'LP002082'
 'LP002086' 'LP002087' 'LP002097' 'LP002098' 'LP002101' 'LP002110'
 'LP002112' 'LP002114' 'LP002115' 'LP002116' 'LP002119' 'LP002126'
 'LP002128' 'LP002129' 'LP002131' 'LP002137' 'LP002138' 'LP002139'
 'LP002140' 'LP002141' 'LP002142' 'LP002143' 'LP002149' 'LP002151'
 'LP002158' 'LP002160' 'LP002161' 'LP002170' 'LP002175' 'LP002178'
 'LP002180' 'LP002181' 'LP002187' 'LP002190' 'LP002191' 'LP002194'
 'LP002197' 'LP002201' 'LP002205' 'LP002209' 'LP002211' 'LP002219'
 'LP002223' 'LP002224' 'LP002225' 'LP002226' 'LP002229' 'LP002231'
 'LP002234' 'LP002236' 'LP002237' 'LP002239' 'LP002244' 'LP002250'
 'LP002255' 'LP002262' 'LP002263' 'LP002265' 'LP002266' 'LP002272'
 'LP002277' 'LP002281' 'LP002284' 'LP002287' 'LP002288' 'LP002296'
 'LP002297' 'LP002300' 'LP002301' 'LP002305' 'LP002308' 'LP002314'
 'LP002315' 'LP002317' 'LP002318' 'LP002319' 'LP002328' 'LP002332'
 'LP002335' 'LP002337' 'LP002341' 'LP002342' 'LP002345' 'LP002347'
 'LP002348' 'LP002361' 'LP002364' 'LP002366' 'LP002367' 'LP002368'
 'LP002369' 'LP002370' 'LP002377' 'LP002379' 'LP002386' 'LP002387'
 'LP002390' 'LP002398' 'LP002403' 'LP002407' 'LP002408' 'LP002409'
 'LP002418' 'LP002422' 'LP002424' 'LP002429' 'LP002434' 'LP002435'
 'LP002443' 'LP002444' 'LP002446' 'LP002447' 'LP002448' 'LP002449'
 'LP002453' 'LP002455' 'LP002459' 'LP002467' 'LP002472' 'LP002473'
 'LP002484' 'LP002487' 'LP002489' 'LP002493' 'LP002494' 'LP002500'
 'LP002502' 'LP002505' 'LP002515' 'LP002517' 'LP002519' 'LP002522'
 'LP002524' 'LP002527' 'LP002529' 'LP002531' 'LP002534' 'LP002536'
 'LP002537' 'LP002541' 'LP002543' 'LP002544' 'LP002545' 'LP002547'
 'LP002555' 'LP002556' 'LP002560' 'LP002562' 'LP002571' 'LP002582'
 'LP002585' 'LP002586' 'LP002587' 'LP002588' 'LP002600' 'LP002602'
 'LP002603' 'LP002606' 'LP002615' 'LP002618' 'LP002619' 'LP002622'
 'LP002624' 'LP002626' 'LP002634' 'LP002637' 'LP002640' 'LP002643'
 'LP002648' 'LP002652' 'LP002659' 'LP002670' 'LP002683' 'LP002684'
 'LP002689' 'LP002690' 'LP002692' 'LP002693' 'LP002699' 'LP002705'
 'LP002706' 'LP002714' 'LP002716' 'LP002717' 'LP002720' 'LP002723'
 'LP002729' 'LP002731' 'LP002732' 'LP002734' 'LP002738' 'LP002739'
 'LP002740' 'LP002741' 'LP002743' 'LP002753' 'LP002755' 'LP002757'
 'LP002767' 'LP002768' 'LP002772' 'LP002776' 'LP002777' 'LP002785'
 'LP002788' 'LP002789' 'LP002792' 'LP002794' 'LP002795' 'LP002798'
 'LP002804' 'LP002807' 'LP002813' 'LP002820' 'LP002821' 'LP002832'
 'LP002833' 'LP002836' 'LP002837' 'LP002840' 'LP002841' 'LP002842'
 'LP002855' 'LP002862' 'LP002863' 'LP002868' 'LP002874' 'LP002877'
 'LP002888' 'LP002892' 'LP002893' 'LP002894' 'LP002898' 'LP002911'
 'LP002912' 'LP002916' 'LP002917' 'LP002926' 'LP002928' 'LP002931'
 'LP002936' 'LP002938' 'LP002940' 'LP002941' 'LP002945' 'LP002948'
 'LP002949' 'LP002950' 'LP002953' 'LP002958' 'LP002959' 'LP002961'
 'LP002964' 'LP002974' 'LP002978' 'LP002979' 'LP002983' 'LP002984'
 'LP002990']


Column: Gender
['Male' 'Female']


Column: Married
['Yes' 'No']


Column: Dependents
['1' '0' '2' '3+']


Column: Education
['Graduate' 'Not Graduate']


Column: Self_Employed
['No' 'Yes' nan]


Column: ApplicantIncome
[ 4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  2500  3073
  1853  1299  4950  3596  3510  4887  7660  5955  2600  3717  9560  2799
  4226  1442  3750  4166  3167  4692  3500 12500  3667  3748  3600  1800
  2400  3941  5649  5821  2645  4000  1928  3086  4230  4616 11500  2708
  2132  3366  8080  3357  3029  2609  5726 10750  7100  4300  3208  1875
  5266  1000  3333  3846  1378  3988  2366  8566  5695  2958  6250  3273
  4133  3620  2484  1977  4188  1759  4288  4843  3052 11417  7333  3800
  2071  5316  2929  5050 14583  2214  5568 10408  2137  2957  3692 10513
  6080 20166  2014  2718  3459  4895  3316 14999  4200  5042  6950  2698
 11757  2330 14866  1538 10000  4860  6277  2577  9166  2281  3254 39999
  9538  2980  1863  7933  3089  4167  9323  2439  2237  8000  1820  3522
  5708  4344  3497  2045  5516  6400  1916  4600 33846  3625 39147  2178
  2383  9328  4885 12000  6033  3858  4191  3125  8333  3416 11000  4923
  3917  4408  3244  3975  2479  3418  3430  7787  5703  3173  3850   150
  3727  5000  4283  2221  4009  2971  3250  2491  3716  3155  5500  5746
  3463  3812  3315  5819  2510  2965  3406  6050  9703  6608  2882  1809
  1668  3427  2661 16250  3083  6045  5250 14683  4931  6083  2060  3481
  7200  5166  4095  4708  4333  2876  3237 11146  2833  2620  3900  2750
  3993  3103  4100  4053  3927  2301  1811  3158  3704  4124  9508  3075
  4400  3153  4416  6875  4666  1625  3762 20233  7667  2917  2927  2507
  3399  2058  3541  4342  3166 15000  8666  4917  5818  4384  2935 63337
  4160  2647  2378  4554  2499  6333  2625  9083  8750  2666  2423  3875
  5167  4723  4750  3013  6822  6216  6325 19730 15759  5185  3062  2764
  4817  4310  3069  5391  5941  7167  4566  2346  5488  9167  9504  1993
  3100  3276  3180  3033  3902  1500  2889  2755  1963  7441  4547  2167
  2213  8300 81000  3867  6256  6096  2253  2149  2995  1600  1025  3246
  5829 14880  4606  5935  2920  2717  8624  6500 12876  2425  1926 10416
  7142  3660  7901  4707 37719  3466  4652  3539  3340  2769  2309  1958
  3948  2483  7085  3859  4301  3708  4354  8334  7740  3015  5191  2947
   210  3450  2653  4691  5532 16525  6700 16667  4350  3095  2083 10833
  3547 18333  2435  2699  5333  3691 17263  3597  3326  4625  2895  6283
   645  3159  4865  4050  3814 20833 13262  3598  6065  3283  2130  5815
  2031  4683  3400  2192  5677  7948 17500  3775  5285  2679  6783  4281
  3588 11250 18165  2550  6133  3617  6417  4608  2138  3652  2239  3017
  2768  3358  2526  2785  2454  3593  5468  2667 10139  3887  4180  3675
 19484  5923  5800  8799  4467  3417 16666  6125  6406  3229  1782  3182
  6540  1836  1880  2787  2297  2165  2726 16120  3833  6383  9963  5780
   416  2894  3676  3987  3232  2900  4106  8072  7583]


Column: CoapplicantIncome
[1.50800000e+03 0.00000000e+00 2.35800000e+03 4.19600000e+03
 1.51600000e+03 2.50400000e+03 1.52600000e+03 1.09680000e+04
 7.00000000e+02 1.84000000e+03 8.10600000e+03 2.84000000e+03
 1.08600000e+03 5.62500000e+03 1.91100000e+03 2.92500000e+03
 2.25300000e+03 1.04000000e+03 2.08300000e+03 3.36900000e+03
 1.66700000e+03 3.00000000e+03 1.45900000e+03 7.21000000e+03
 1.66800000e+03 1.21300000e+03 2.33600000e+03 3.44000000e+03
 2.27500000e+03 1.64400000e+03 1.16700000e+03 1.59100000e+03
 2.20000000e+03 2.25000000e+03 2.85900000e+03 3.79600000e+03
 3.44900000e+03 4.59500000e+03 2.25400000e+03 3.06600000e+03
 1.87500000e+03 1.77400000e+03 4.75000000e+03 3.02200000e+03
 4.00000000e+03 2.16600000e+03 1.88100000e+03 2.53100000e+03
 2.00000000e+03 2.11800000e+03 4.16700000e+03 2.90000000e+03
 5.65400000e+03 1.82000000e+03 2.30200000e+03 9.97000000e+02
 3.54100000e+03 3.26300000e+03 3.80600000e+03 1.03000000e+03
 1.12600000e+03 3.60000000e+03 7.54000000e+02 2.33300000e+03
 2.28300000e+03 1.39800000e+03 2.14200000e+03 8.98000000e+03
 2.01400000e+03 3.85000000e+03 2.56900000e+03 1.92900000e+03
 7.75000000e+03 3.50000000e+03 1.43000000e+03 2.03400000e+03
 4.48600000e+03 1.42500000e+03 1.66600000e+03 8.30000000e+02
 3.75000000e+03 1.04100000e+03 1.28000000e+03 1.44700000e+03
 3.33300000e+03 1.76900000e+03 7.36000000e+02 1.96400000e+03
 1.61900000e+03 1.13000000e+04 1.45100000e+03 7.25000000e+03
 5.06300000e+03 2.13800000e+03 2.58300000e+03 2.81600000e+03
 2.50000000e+03 1.08300000e+03 1.25000000e+03 3.02100000e+03
 9.83000000e+02 1.80000000e+03 1.77500000e+03 2.38300000e+03
 1.71700000e+03 2.79100000e+03 1.69500000e+03 2.05400000e+03
 1.77900000e+03 1.26000000e+03 5.00000000e+03 1.98300000e+03
 5.70100000e+03 1.30000000e+03 4.41700000e+03 4.33300000e+03
 1.84300000e+03 1.86800000e+03 3.89000000e+03 2.16700000e+03
 7.10100000e+03 2.10000000e+03 4.25000000e+03 2.20900000e+03
 3.44700000e+03 1.38700000e+03 1.81100000e+03 1.56000000e+03
 1.85700000e+03 2.22300000e+03 1.84200000e+03 3.27400000e+03
 2.42600000e+03 8.00000000e+02 9.85799988e+02 3.05300000e+03
 2.41600000e+03 3.33400000e+03 2.54100000e+03 2.93400000e+03
 1.80300000e+03 1.86300000e+03 2.40500000e+03 1.64000000e+03
 2.13400000e+03 1.89000000e+02 2.98500000e+03 4.98300000e+03
 2.16000000e+03 2.45100000e+03 1.79300000e+03 6.88000000e+02
 4.60000000e+03 1.58700000e+03 1.22900000e+03 2.33000000e+03
 2.45800000e+03 2.16800000e+03 4.58300000e+03 6.25000000e+03
 5.05000000e+02 3.16700000e+03 3.66700000e+03 3.03300000e+03
 5.26600000e+03 7.87300000e+03 1.98700000e+03 9.23000000e+02
 4.99600000e+03 4.23200000e+03 1.60000000e+03 2.41700000e+03
 2.11500000e+03 1.62500000e+03 1.40000000e+03 4.84000000e+02
 2.00000000e+04 2.40000000e+03 2.03300000e+03 3.23700000e+03
 2.77300000e+03 1.41700000e+03 1.71900000e+03 4.30000000e+03
 1.61200008e+01 2.34000000e+03 1.85100000e+03 5.06400000e+03
 1.83300000e+03 1.99300000e+03 8.33300000e+03 1.21000000e+03
 1.37600000e+03 1.71000000e+03 1.54200000e+03 1.25500000e+03
 1.45600000e+03 1.73300000e+03 2.46600000e+03 2.18800000e+03
 1.66400000e+03 2.91700000e+03 2.07900000e+03 1.50000000e+03
 4.64800000e+03 1.01400000e+03 1.75000000e+03 3.15000000e+03
 2.43600000e+03 2.78500000e+03 1.13100000e+03 2.15700000e+03
 9.13000000e+02 1.70000000e+03 2.85700000e+03 4.41600000e+03
 3.68300000e+03 5.62400000e+03 5.30200000e+03 1.48300000e+03
 6.66700000e+03 3.01300000e+03 1.28700000e+03 2.00400000e+03
 2.03500000e+03 6.66600000e+03 3.66600000e+03 3.42800000e+03
 1.63200000e+03 1.91500000e+03 1.74200000e+03 1.42400000e+03
 7.16600000e+03 1.30200000e+03 5.50000000e+03 2.04200000e+03
 3.90600000e+03 5.36000000e+02 2.84500000e+03 2.52400000e+03
 6.63000000e+02 1.95000000e+03 1.78300000e+03 2.01600000e+03
 3.25000000e+03 4.26600000e+03 1.03200000e+03 2.66900000e+03
 2.30600000e+03 2.42000000e+02 2.06400000e+03 4.61000000e+02
 2.73900000e+03 2.23200000e+03 3.38370000e+04 1.91700000e+03
 1.52200000e+03 3.41600000e+03 3.30000000e+03 1.00000000e+03
 4.16670000e+04 2.79200000e+03 4.30100000e+03 1.41100000e+03
 2.40000000e+02]


Column: LoanAmount
[128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.  17.
 125. 100.  76. 133. 104. 315. 116. 151. 191. 122. 110.  35. 201.  74.
 106. 320. 144. 184.  80.  47.  75. 134.  44. 112. 286.  97.  96. 135.
 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113. 176. 130. 111.
 167. 265.  50. 210. 175. 131. 188.  25. 137. 115. 225. 216.  94. 139.
 118. 185. 154.  85. 259. 194.  93. 160. 182. 650. 102. 290.  84.  88.
 242. 129.  30. 152. 244. 600. 255.  98. 275. 121.  63.  87. 101. 495.
  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166. 124.  55.  59.
 127. 214. 240.  72.  60.  42. 280. 140. 155. 123. 138. 279. 192. 304.
 330. 150. 207. 436.  78.  54.  89. 132. 480.  56. 300. 376. 117. 490.
  71. 173.  46. 228. 308. 105. 236. 570. 380. 296. 156. 103.  45.  65.
  53. 360.  62. 218. 178. 239. 405. 143. 148. 190. 149. 153. 162. 230.
  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.  40. 250. 311. 400.
 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.  36.  61. 146. 142.
 350. 496. 253.]


Column: Loan_Amount_Term
[360. 120. 240. 180.  60. 300. 480.  36.  84.  12.]


Column: Credit_History
[ 1.  0. nan]


Column: Property_Area
['Rural' 'Urban' 'Semiurban']


Column: Loan_Status
['N' 'Y']

In [54]:
Self_Employed_mode = df['Self_Employed'].mode()[0]
credit_history_mode = df['Credit_History'].mode()[0]

In [55]:
df['Self_Employed'].fillna(Self_Employed_mode, inplace = True)
df['Credit_History'].fillna(credit_history_mode, inplace = True)

In [56]:
df.isnull().sum() * 100 / len(df)

Loan_ID              0.0
Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [57]:
df.shape

(553, 13)

In [58]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [59]:
df['Dependents'] = df['Dependents'].replace('3+', '4')

In [60]:
df['Dependents'] = df['Dependents'].astype(int)

In [61]:
df['Dependents'].value_counts()

Dependents
0    316
1     96
2     96
4     45
Name: count, dtype: int64

In [62]:
df['CoapplicantIncome'] = df['CoapplicantIncome'].astype(int)
df['LoanAmount'] = df['LoanAmount'].astype(int)
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(int)
df['Credit_History'] = df['Credit_History'].astype(int)

In [63]:
df = df.drop(columns=['Loan_ID'])

In [64]:
gender_map = {'Male': 1, 'Female': 0}
married_map = {'Yes': 1, 'No': 0}
self_employed_map = {'Yes': 1, 'No': 0}
property_area_map = {'Urban': 2, 'Semiurban': 1, 'Rural': 0}
loan_status_map = {'Y': 1, 'N': 0}
education_map = {'Graduate': 1, 'Not Graduate': 0}

# Apply the mappings to the corresponding columns
df['Gender'] = df['Gender'].map(gender_map)
df['Married'] = df['Married'].map(married_map)
df['Self_Employed'] = df['Self_Employed'].map(self_employed_map)
df['Property_Area'] = df['Property_Area'].map(property_area_map)
df['Loan_Status'] = df['Loan_Status'].map(loan_status_map)
df['Education'] = df['Education'].map(education_map)

In [65]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,1,1,0,1,1,3000,0,66,360,1,2,1
3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,1,0,0,1,0,6000,0,141,360,1,2,1
5,1,1,2,1,1,5417,4196,267,360,1,2,1

## SCALING DF

In [66]:
sc_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [67]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[sc_cols] = scaler.fit_transform (df[sc_cols])

In [68]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,-0.128694,-0.049698,-0.214368,0.279961,1,0,0
2,1,1,0,1,1,-0.394296,-0.545637,-0.952675,0.279961,1,2,1
3,1,1,0,0,0,-0.464262,0.229843,-0.309634,0.279961,1,2,1
4,1,0,0,1,0,0.109057,-0.545637,-0.059562,0.279961,1,2,1
5,1,1,2,1,1,0.011239,0.834310,1.440866,0.279961,1,2,1

In [69]:
target = 'Loan_Status'
y = df[target]
df.drop(columns = ['Loan_Status'], inplace = True)
features = list(df.columns)

In [70]:
x = df[features]

In [71]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049698,-0.214368,0.279961,1,0
2,1,1,0,1,1,-0.394296,-0.545637,-0.952675,0.279961,1,2
3,1,1,0,0,0,-0.464262,0.229843,-0.309634,0.279961,1,2
4,1,0,0,1,0,0.109057,-0.545637,-0.059562,0.279961,1,2
5,1,1,2,1,1,0.011239,0.834310,1.440866,0.279961,1,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.411075,-0.545637,-0.893134,0.279961,1,0
610,1,1,4,1,0,-0.208727,-0.545637,-1.262287,-2.468292,1,0
611,1,1,1,1,0,0.456706,-0.466708,1.274152,0.279961,1,2
612,1,1,2,1,0,0.374659,-0.545637,0.488213,0.279961,1,2
613,0,0,0,1,1,-0.128694,-0.545637,-0.154828,0.279961,0,1

In [72]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int64

In [73]:
from sklearn.model_selection import GridSearchCV, train_test_split

In [74]:
from sklearn.metrics import classification_report

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size = 0.2, stratify = y, random_state = 4)

In [77]:
from sklearn.ensemble import GradientBoostingClassifier

In [78]:
model = GradientBoostingClassifier(random_state=4)

In [79]:
param_grid = {
    'n_estimators':[100,2200,3300],
    'max_depth':[None,40,3],
    'min_samples_split':[2,3,1],
    'min_samples_leaf':[1,20,40]
}

In [80]:
grid_search = GridSearchCV(estimator=model, param_grid=param_grid,
                          cv=5, scoring='accuracy',verbose=1, n_jobs=-1)

In [81]:
# grid_search.fit(x_train,y_train)

In [84]:
# grid_search.best_score_

In [ ]:
grid_search.best_params_

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(random_state=4)

In [ ]:
param_gridd = {
    'n_estimators':[100,200,300],
    'max_depth':[None,10,20,30],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,5],
    'max_features':['auto','sqrt'],
    'bootsrap':[True, False]
}

In [ ]:
grid_searchh = GridSearchCV(estimator=rf, param_grid=param_grid,
                          cv=5, scoring='accuracy',verbose=1, n_jobs=-1)

In [ ]:
# grid_searchh.fit(x_train,y_train)

In [ ]:
grid_search.best_score_

In [ ]:
grid_search.best_params_

In [ ]:
print(x.shape,y.shape)

In [89]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression ()
model.fit (x_train, y_train)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier ()
rf.fit (x_train, y_train)

from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier ()
gbc.fit (x_train, y_train)

from xgboost import XGBClassifier
xg = XGBClassifier ()
xg.fit (x_train, y_train)

from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit (x_train, y_train)

DecisionTreeClassifier()

In [90]:
# print ('Logistic Regression Train Score is', lr.score (x_train, y_train)* 100)
# print ('Random Forest Classifier Train Score is', rf.score (x_train, y_train)* 100)
print ('Gradient Boosting Classifier Train Score is', gbc.score (x_train, y_train)* 100)
# print ('XGBoost Classifier Train Score is', xg.score (x_train, y_train)* 100)
# print ('Decision Tree Classifier Train Score is', tree.score (x_train, y_train)* 100)

Gradient Boosting Classifier Train Score is 89.59276018099548

In [91]:
# print ('Logistic Classifier Test Score is', lr.score (x_test, y_test) * 100)
# print ('Random Forest Classifier Test Score is', rf.score (x_test, y_test)* 100)
print ('Gradient Boosting Classifier Test Score is', gbc.score (x_test, y_test)* 100)
# print ('XGBoost Classifier Test Score is', xg.score (x_test, y_test)* 100)
# print ('Decision Tree Classifier Test Score is', tree.score (x_test, y_test)* 100)

Gradient Boosting Classifier Test Score is 80.18018018018019

In [92]:
joblib.dump (gbc, 'Loan Prediction Model')

['Loan Prediction Model']

In [93]:
import pickle

with open('Loan Prediction Model 1.sav', 'wb') as file:
    pickle.dump(gbc, file)

In [ ]:
print(type(model))

In [ ]:
import customtkinter as ctk
import pandas as pd
import joblib

def show_entry():
    # Fetch the values from the entries
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())
    
    # Load the trained model
    model = joblib.load('loan_status_prediction')
    
    # Create a dataframe with the input values
    df = pd.DataFrame({
        'Gender': p1,
        'Married': p2,
        'Dependents': p3,
        'Education': p4,
        'Self_Employed': p5,
        'ApplicantIncome': p6,
        'CoapplicantIncome': p7,
        'LoanAmount': p8,
        'Loan_Amount_Term': p9,
        'Credit_History': p10,
        'Property_Area': p11
    }, index=[0])
    
    # Make the prediction
    result = model.predict(df)
    
    # Display the result
    if result == 1:
        result_label.configure(text="Loan approved", text_color="green")
    else:
        result_label.configure(text="Loan Not Approved", text_color="red")

# Create the main window
ctk.set_appearance_mode("dark")  # Modes: "System" (default), "Dark", "Light"
ctk.set_default_color_theme("blue")  # Themes: "blue" (default), "green", "dark-blue"

master = ctk.CTk()
master.title("Loan Status Prediction Using Machine Learning")

# Create the form labels and entries
title_label = ctk.CTkLabel(master, text="Loan Status Prediction", fg_color="black", text_color="white")
title_label.grid(row=0, columnspan=2, pady=10)

labels = [
    "Gender [1:Male, 0:Female]",
    "Married [1:Yes, 0:No]",
    "Dependents [1, 2, 3, 4]",
    "Education",
    "Self Employed",
    "Applicant Income",
    "Coapplicant Income",
    "Loan Amount",
    "Loan Amount Term",
    "Credit History",
    "Property Area"
]

entries = []
for i, label_text in enumerate(labels, start=1):
    label = ctk.CTkLabel(master, text=label_text)
    label.grid(row=i, column=0, padx=10, pady=5, sticky="w")
    entry = ctk.CTkEntry(master)
    entry.grid(row=i, column=1, padx=10, pady=5)
    entries.append(entry)

e1, e2, e3, e4, e5, e6, e7, e8, e9, e10, e11 = entries

# Add the prediction button
predict_button = ctk.CTkButton(master, text="Predict", command=show_entry)
predict_button.grid(row=30, column=1, pady=10)

# Add the result label
result_label = ctk.CTkLabel(master, text="")
result_label.grid(row=31, columnspan=2, pady=10)

# Start the main loop
master.mainloop()

In [ ]:
import pandas as pd
import joblib
from tkinter import *

def show_entry():
    p1 = int(gender_var.get())
    p2 = int(married_var.get())
    p3 = int(dependents_var.get())
    p4 = int(education_var.get())
    p5 = int(self_employed_var.get())
    p6 = float(e1.get())
    p7 = float(e2.get())
    p8 = float(e3.get())
    p9 = float(e4.get())
    p10 = int(credit_history_var.get())
    p11 = int(property_area_var.get())
    
    model = joblib.load('Loan Prediction Model')
    df = pd.DataFrame({
        'Gender': [p1],
        'Married': [p2],
        'Dependents': [p3],
        'Education': [p4],
        'Self_Employed': [p5],
        'ApplicantIncome': [p6],
        'CoapplicantIncome': [p7],
        'LoanAmount': [p8],
        'Loan_Amount_Term': [p9],
        'Credit_History': [p10],
        'Property_Area': [p11]
    })
    
    result = model.predict(df)
    
    if result == 1:
        result_label.config(text="Loan approved")
    else:
        result_label.config(text="Loan Not Approved")

master = Tk()
master.title("Loan Status Prediction Using Machine Learning")

Label(master, text="Loan Status Prediction", bg="black", fg="white").grid(row=0, columnspan=2)

Label(master, text="Gender [1:Male, 0:Female]").grid(row=1)
Label(master, text="Married [1:Yes, 0:No]").grid(row=2)
Label(master, text="Dependents [1, 2, 3, 4]").grid(row=3)
Label(master, text="Education [1:Graduate, 0:Undergraduate]").grid(row=4)
Label(master, text="Self Employed [1:Yes, 0:No]").grid(row=5)
Label(master, text="Applicant Income [$]").grid(row=6)
Label(master, text="Coapplicant Income [$]").grid(row=7)
Label(master, text="Loan Amount [$]").grid(row=8)
Label(master, text="Loan Amount Term [In Days]").grid(row=9)
Label(master, text="Credit History [1:Yes, 0:No]").grid(row=10)
Label(master, text="Property Area [1, 2, 3]").grid(row=11)

gender_var = StringVar(master)
gender_var.set("1")  # Default value
OptionMenu(master, gender_var, "1", "0").grid(row=1, column=1)

married_var = StringVar(master)
married_var.set("1")
OptionMenu(master, married_var, "1", "0").grid(row=2, column=1)

dependents_var = StringVar(master)
dependents_var.set("1")
OptionMenu(master, dependents_var, "1", "2", "3", "4").grid(row=3, column=1)

education_var = StringVar(master)
education_var.set("1")
OptionMenu(master, education_var, "1", "0").grid(row=4, column=1)

self_employed_var = StringVar(master)
self_employed_var.set("0")
OptionMenu(master, self_employed_var, "1", "0").grid(row=5, column=1)

e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)

e1.grid(row=6, column=1)
e2.grid(row=7, column=1)
e3.grid(row=8, column=1)
e4.grid(row=9, column=1)

credit_history_var = StringVar(master)
credit_history_var.set("1")
OptionMenu(master, credit_history_var, "1", "0").grid(row=10, column=1)

property_area_var = StringVar(master)
property_area_var.set("1")
OptionMenu(master, property_area_var, "1", "2", "3").grid(row=11, column=1)

Button(master, text="Predict", command=show_entry).grid(row=12, columnspan=2)

result_label = Label(master, text="")
result_label.grid(row=13, columnspan=2)

mainloop()

## DF1 TEST DATA

In [ ]:
df1 = pd.read_csv('loan_train.csv')
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.isnull().sum() / len(df1) * 100

In [ ]:
missing_val = df1.isnull()
missing_val_per = ["Gender", "Married", "Dependents", "LoanAmount", "Loan_Amount_Term"]

In [ ]:
df1 = df1.dropna(subset = missing_val_per)

In [ ]:
df1.isnull().sum() / len(df1) * 100

In [ ]:
Self_Employed_mode = df1['Self_Employed'].mode()[0]
credit_history_mode = df1['Credit_History'].mode()[0]

In [ ]:
df1['Self_Employed'].fillna(Self_Employed_mode, inplace = True)
df1['Credit_History'].fillna(credit_history_mode, inplace = True)

In [ ]:
df.isnull().sum() * 100 / len(df)

In [ ]:
df1['Dependents'] = df1['Dependents'].replace('3+', '4')

In [ ]:
df1['Dependents'] = df1['Dependents'].astype(int)

In [ ]:
df1['Dependents'].value_counts()

In [ ]:
df1.head()

In [ ]:
gender_map = {'Male': 1, 'Female': 0}
married_map = {'Yes': 1, 'No': 0}
self_employed_map = {'Yes': 1, 'No': 0}
property_area_map = {'Urban': 2, 'Semiurban': 1, 'Rural': 0}
education_map = {'Graduate': 1, 'Not Graduate': 0}

# Apply the mappings to the corresponding columns
df1['Gender'] = df1['Gender'].map(gender_map)
df1['Married'] = df1['Married'].map(married_map)
df1['Self_Employed'] = df1['Self_Employed'].map(self_employed_map)
df1['Property_Area'] = df1['Property_Area'].map(property_area_map)
df1['Education'] = df1['Education'].map(education_map)

In [ ]:
df1.info()

In [ ]:
df1['CoapplicantIncome'] = df1['CoapplicantIncome'].astype(int)
df1['LoanAmount'] = df1['LoanAmount'].astype(int)
df1['Loan_Amount_Term'] = df1['Loan_Amount_Term'].astype(int)
df1['Credit_History'] = df1['Credit_History'].astype(int)
df1['Self_Employed'] = df1['Self_Employed'].astype(int)

In [ ]:
df1 = df1.drop(columns=['Loan_Status'])

In [ ]:
df1 = df1.drop(columns=['Loan_ID'])

In [ ]:
df1.head()

## SCALING DF1 TEST

In [ ]:
sc_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df1[sc_cols] = scaler.fit_transform (df1[sc_cols])

In [ ]:
gbc.fit(x,y)

In [ ]:
pred2 = gbc.predict(df1)
pred2

In [ ]:
df1.assign(Loan_Status = pred2)

## EXPLORATORY DATA ANAYSIS

In [ ]:
sns.countplot(x='Dependents',data=df)

In [ ]:
sns.pairplot(df)

In [ ]:
pip install customtkinter

In [ ]:
df.columns()

In [ ]:
pip freeze > requirements.txt

In [ ]:
pip install -r requirements.txt

In [83]:
import subprocess

# Save the requirements to a file
with open('requirements.txt', 'w') as f:
    subprocess.run(['pip', 'freeze'], stdout=f)

In [ ]:
pip freeze > requirements.txt

In [ ]:
print(f"Streamlit version: {st.__version__}")
print(f"Pandas version: {pd.__version__}")
print(f"Pickle version: (built-in module, no version info)")
print(f"Joblib version: {joblib.__version__}")

In [ ]:
import catboost

# Print the version of catboost
print(f"CatBoost version: {catboost.__version__}")

In [ ]:
import streamlit as st
import pandas as pd
import joblib
import catboost

# Print the versions of the libraries
print(f"Streamlit version: {st.__version__}")
print(f"Pandas version: {pd.__version__}")
print(f"Joblib version: {joblib.__version__}")
print(f"CatBoost version: {catboost.__version__}")

In [ ]:
pip freeze > requirements.txt

In [96]:
# Check if pickle5 is installed
try:
    import pickle5 as pickle
    pickle5_version = pickle.__version__
except ImportError:
    pickle5_version = "pickle5 not installed"

# Display versions
st.write("### Installed Versions")
st.write(f"**Streamlit:** {st.__version__}")
st.write(f"**Pandas:** {pd.__version__}")
st.write(f"**NumPy:** {np.__version__}")
st.write(f"**Scikit-learn:** {sklearn.__version__}")
st.write(f"**Joblib:** {joblib.__version__}")
st.write(f"**Pickle5:** {pickle5_version}")

2024-09-18 14:35:19.316 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.317 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.322 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.324 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.325 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.328 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.329 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.330 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.332 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.333 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.335 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.338 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.340 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.341 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.343 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.345 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.346 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.347 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.349 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.350 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.352 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.355 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.356 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.357 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.359 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.360 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.361 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-18 14:35:19.362 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [97]:
pip install -r requirements.txt

Processing c:\b\abs_a0zxrsvpwx\croot\aiobotocore_1714464454692\work (from -r requirements.txt (line 1))
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: 'C:\\b\\abs_a0zxrsvpwx\\croot\\aiobotocore_1714464454692\\work'